// generales
.cuerpo {
  background-image: linear-gradient(to bottom, #395B64 10%, #2C3333 99%);
  background-repeat: no-repeat;
}

p {
  color: $gris; // Asegúrate de que $gris está definido en variables.scss
  text-align: center;
  font-weight: 700;
}

// general navegador
h1 {
  text-align: center;
  @include tablet { // Asegúrate de que el mixin tablet está definido
      text-align: left;
  }
}

// titulo
.titulo {
  color: $gris; // Asegúrate de que $gris está definido
  margin: 0;
  font-weight: 400;
  margin-left: 1rem;
  transition: color 0.5s ease;

  &:hover {
      color: $principal; // Asegúrate de que $principal está definido
  }
}

// header
 img {
  width: 30%;
  height: 20rem;
  display: flex;
  margin: auto;
  margin-top: 2rem;

  @include tablet { // Asegúrate de que el mixin tablet está definido
      width: 20rem;
      height: 20rem;
  }
}

// caja para el login
.caja {
  text-align: center;
  height: 60rem;
  background-color: $blanco; // Asegúrate de que $blanco está definido
  padding: 50px;
  margin: 20px;
  border-radius: 50px;
  position: relative;

  input {
      background: transparent;
      border: none;
      outline: none;
      border-radius: 50px;
      border: 2px solid $negro; // Asegúrate de que $negro está definido
      width: 100%;
      height: 50px;
      margin-top: 2rem;
      margin-bottom: 3rem;

      @include tablet { // Asegúrate de que el mixin tablet está definido
          width: 80%;
      }
  }

  h1 {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
  }

  .icons {
      width: 20%;
      height: 5rem;
      margin-top: 2rem;
      position: absolute;
      left: 2000px;

      @include iconos { // Asegúrate de que el mixin iconos está definido
          left: 850px;
      }
  }

  .boton {
      width: 70%;
      height: 5rem;
      border-radius: 70px;

      &:hover {
          color: $blanco; // Asegúrate de que $blanco está definido
          background-color: $principal; // Asegúrate de que $principal está definido
      }
  }

  .mensaje {
      height: 80px; // altura aumentada
  }
}
