main {

margin-bottom: 20rem;

@include tablet {
    margin-bottom: 20rem;
}

.tabla2 {
    margin: 2rem;
    margin-top: 6rem;
    background-color: $blanco; 
    padding-bottom: 5rem ;
    height:auto;

    @include tablet {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 8rem;
        padding-top: 2rem;
        height: 80rem;

    }


    .table {
        margin: 2rem;
        padding: 1rem;

        @include tablet {
        padding: 3rem;
       
        }

        .nom {
            color: $principal;
        }

        thead {
        
            border-bottom: 1px solid black;

            th {
                padding-bottom: 2rem;
                border-bottom: 1px solid black;
            }
        }

        tbody {
            tr {
                margin-right: 3rem;
            }


            td {
                padding: 2rem;
                border-bottom: 1px solid black;  // Asegúrate de que los <tr> en el <tbody> también tienen borde
            }
        }
    }
}



}
