


.sedees {
    h1 {
        margin-top: 2rem;
        color:$verde;
        text-align: center;
        font-weight: 700;
    }

    h3 {
        color: $amarillo;
        font-size: 3rem;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 0;
    }


    p {
        @include tablet {
            color: $blanco;
            margin-bottom: 5rem;
            font-size: 2.5rem; 
        }
        
        color: #FF69B4;
        font-size: 2.3rem; 
       
       
    }

    @include tablet {
       
    
        h3 {
            margin-bottom: 4rem;
            font-size: 4rem;
        }
        
        .sed {
            @include grid(2, 2rem);
            
        }
    }
   
   
}

.plan-sedes {

    background-image: url("../../../src/img/cubogd.png");
    background-size: 50% 100%;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
        background-image: url("../../../src/img/cropped-1920-1080-692043.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 5rem;
        margin-top: 2rem;
                &:first-of-type {
                    margin-right: 0;
                }
                &:last-of-type {
                    margin-left: 0;
                }
    }

    }



.elemento3 {
    p {
        @include tablet {
            color: $blanco;
            margin-bottom: 5rem;
            font-size: 2.5rem; 
        }
        
        color: #FF69B4;
        font-size: 2.3rem; 
       
       
    }
    .plan-sedes2 {
        // padding-bottom: 7rem;
        // padding-top: 5px;
        background-image: url("../../../src/img/cubogd.png");
        background-size: 80% 100%;
        background-position: center;
        background-repeat: no-repeat;

         h3 {
            color: $amarillo;
            font-size: 3rem;
            text-decoration: underline;
            text-transform: uppercase;
         }
   
    }
    @include tablet {
        
        h3 {
            margin-bottom: 4rem;
            color: $amarillo;
            
         
        }
    .plan-sedes2 {
        padding-bottom: 7rem;
        padding-top: 5px;
        background-image: url("../../../src/img/cropped-1920-1080-692043.jpg");
        background-size: 100%;
        background-position: center;
         background-repeat: no-repeat;

    
       
    }

    }
   
    margin-left: 10rem;
    margin-right: 10rem;
    

}

.footer {
    p {
            margin-bottom: 2rem;
            color: $blanco;
    }
}

